<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ts</title>
</head>
<body>
    <div class="side-menu">
        <div class="side-bar">
            <div class="nome-evento">
                <h1>SCALA 2019</h1>
            </div>
            <div class="logo">
                <img src="../assets/dewey4.png" alt="Logo">
            </div>
            <div class="menu-item">
                <a href="">Apresentação</a>
            </div>
            <div class="menu-item">
                <a href="">Comitês</a>
            </div>
            <div class="menu-item">
                <a href="">Autores</a>
            </div>
            <div class="menu-item">
                <a href="">Eixos Temáticos</a>
            </div>
            <div class="menu-item active-orange">
                <div class="retangle"></div>
                <a href="">Trabalhos</a>
            </div>
            <div class="menu-item">
                <a href="">Contatos</a>
            </div>
            
        </div>
    </div>
</body>
</html>