.cont-video{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .video{
        position: relative;
        img{
            border-radius: 2px;
            width: 784px;
            height: 439px;
        }

        
        .poster{
            position: absolute;
            top: 0;
            width: 784px;
            height: 439px;
            background-color: #8D350680;
            color: var(--seven);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h2{
                font-size: 24px;
                margin: 30px;
                width: 734px;
            }

            .autor{
                margin: 50px 30px;

                #video-perfil{
                    width: 84px;
                    height: auto;
                    float: left;
                    outline: 1px solid var(--one);
                    border-radius: 50%;
                    padding: 3px;
                    margin-right: 15px;
                }
                h1{
                    font-size: 34px;
                }
                h3{
                    font-size: 20px;
                }
            }

        }
    }
    
    
    .cont-details{
        width: 242px;
        height: 439px;
        border: 2px solid var(--four);
        border-radius: 3px;
        overflow: hidden;

        .title-det{
            display: flex;
            align-items: center;
            padding-left: 15px;
            height: 45px;
            background-color: var(--three);
            color: #4E4E4E;
            border-bottom: 2px solid var(--four);
        }

        .text-det{
            font-family: "Quicksand", sans-serif;
            padding: 15px;
            color: var(--five);
            font-size: 12px;
            font-weight: 400;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #574f4f;
                border-radius: 2px;
            }

            &::-webkit-scrollbar-track {
                background: var(--six);
                border-radius: 0.5rem;
                margin: 3.6px;
            }

            .info{
                p{
                    span{
                        font-weight: 700;
                    }
                }
            }

            .autores{
                line-height: 16.8px;

                span{
                    font-weight: 700;
                    font-size: 14px;
                    letter-spacing: 1px;
                }

                p{
                    font-size: 14px;
                    letter-spacing: 1px;

                    sup{
                        font-size: 9px;
                    }
                }
            }
            
            .universidade{
                color: #ADA0A0;
                font-size: 12px;

                sup{
                    font-size: 9px;
                }
            }
        }
    }
}